version: '3'
services:
  freeradius:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "1812:1812/udp"
      - "1813:1813/udp"
    volumes:
      - ./raddb:/etc/freeradius
    network_mode: "host"