fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
celery[redis]
pydantic[email]
sqlalchemy-citext
pysnmp
pysnmp-mibs
ping3
psutil
networkx

pytest
pytest-cov